# Frontend
VITE_OIDC_AUTHORITY=https://auth.cloud.yandex.ru
VITE_OIDC_CLIENT_ID=aje27so1a2ijsc18b80t
VITE_OIDC_REDIRECT_URI=http://localhost:5173/signin-callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_OIDC_SCOPE=openid profile api
VITE_API_BASE_URL=http://localhost:3000

# Backend
PORT=3000
CLIENT_ORIGIN=http://localhost:5173
AUTH_AUDIENCE=aje27so1a2ijsc18b80t
AUTH_ISSUER_BASE_URL=https://auth.cloud.yandex.ru